<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        
		xmlns:ga
		p   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Example</name>

    <description>
        An example for phonegap build docs. 
    </description>
	<icon src="icon.png" />


    <author href="www.facebook.com/nnazrullah" email="anm.nasrullah@gmail.com">
        Nasrullah Najeeb 
    </author>

</widget>

<gap:platform name="android" />
